@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Inter' , sans-serif;
}

body {
  background-color: black;
  color: white;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.buttons {
  display: flex;
  gap: 10px;
}


.sign-up {


    background: linear-gradient(to right,#e85959f0,  #de266c, #fd3da6bd); /* Approximate gradient */
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  
    transition: box-shadow 0.2s ease-in-out;
  
}
.sign-up:hover {
  background-color: black; /* Keep the same background color */
  box-shadow: 0px 5px 10px rgba(146, 5, 104, 0.635); /* Magenta shadow */
}






.custom-button {
  background-color: #111111; /* Dark background */
  color: #FFFFFF; /* White text */
  border: 2px solid #e80481c3; /* Pink border */
  border-radius: 10px; /* Rounded corners */
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}


.custom-button:hover {
  background-color: black; /* Keep the same background color */
  box-shadow: 0px 5px 10px rgba(237, 58, 121, 0.635); /* Magenta shadow */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #000000; /* Adjust background color */
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #13171c; /* Adjust background color */
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 5px 70px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #444; /* Adjust hover color */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.dropdown-item img {
  width: 20px;
  margin-right: 10px;
}

.dropdown-text {
  margin-left: 10px;
}

.dropdown-text h3 {
  margin: 0;
  font-size: 14px;
  color: #fff; /* Adjust text color */
}

.dropdown-text p {
  margin: 0;
  font-size: 12px;
  color: #ccc; /* Adjust text color */
}
.main{
  display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 10%;
}
.main h1 {
  position: relative;
  font-size: 64px;
  top: 80px;
  left: 25px;
 letter-spacing:-1.28px;
 text-align: center;
 font-family: Figtree,sans-serif;
 line-height: 64px;
 text-align: start;
 top:2px;
 left: 180px;

}


.main h1 span{

  font-family: Figtree,sans-serif;
}
.main p{
  width: 650px;
  text-align: start;
  line-height: 24px;
  position: relative;
  top:1px;
  left: 180px;
  font:16px;
  color: #999caa;

}

.main .main_btn{
 
  background: linear-gradient(to right,#e85959f0,  #de266c, #fd3da6bd);
    padding: 10px 20px;
    position: relative;
    top: 50px;
    left: 180px;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    transition:box-shadow 0.2s ease-in-out ;
    font-size: 16px;
     font-weight: bold;
     cursor: pointer;
}

.main .main_btn:hover {
  background-color: black; /* Keep the same background color */
  box-shadow: 0px 5px 10px rgba(146, 5, 104, 0.635); /* Magenta shadow */
}

.main .main_btn2{
 
  background-color: black; /* Dark background */
    padding: 10px 20px;
    position: relative;
    top: 50px;
    left: 215px;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    transition:box-shadow 0.2s ease-in-out ;
    font-size: 16px;
     font-weight: bold;
     cursor: pointer;
}
.main .main_img img{
  width: 706px;
  position: relative;
  top: 100px;
  left: 1px;
}

.gradient_text span{
  font-size: 72px;
  background: -webkit-linear-gradient(#e89059f0,  #de266c, #fd3da6bd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}